body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    background-color: rgb(243, 243, 229);

    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    
}

#outermost {
    box-sizing: border-box;
    height: 80%;
    min-width: 570px;
    border: 1px solid black;
    border-radius: 20px;

    background-color: rgb(249, 249, 235);
    display: flex;
    flex-direction: column;
}

#topDisplay {
    width: 540px;
    min-height: 100px;
    background-color: green;
    border-radius: 2px;
    margin: 20px 0 30px 0;
    align-self: center;
}

#mainContainer {
    width: 540px;
    background-color: blueviolet;
    height: 100%;
    margin: 0 0 20px 0;
    border-radius: 20px;
    align-self: center;
}
